<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="exercise-delete-modal-dialog">
    <div class="modal modal-warning fade in"
         th:id="modal-warning+${exercise.id }">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        th:text="'Delete Exercise ? '">
                        Delete Exercise
                    </h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 class="text-left" style="margin: 0 auto;"
                        th:text="' [ ' + ${exercise.name + ' ] '}"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left"
                            data-dismiss="modal">Close</button>
                    <a type="button" class="btn btn-outline"
                       th:href="@{'/exercises/delete/' + ${exercise.id}}">
                        <i class="fa fa-check"></i>&nbsp;Yes</a>
                </div>
            </div>
        </div>
    </div>
    <!-- modal dialog -->
</div>
</body>
</html>